.about {
    .about-us {
        text-align: center;
        h3 {
            font-size: 40px;
            font-weight: 500;
        }
        p {
            font-size: 30px;
            font-weight: 200;
            padding: 0px 60px 0 60px;
            line-height: 5.2rem;
        }
    }
    .contacts {
        text-align: center;
        h3 {
            font-size: 40px;
            font-weight: 500;
        }
        p {
            line-height: 2.2rem;
        }
    }
}