.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4C0750;
    color: #ffff;
    padding-left: 30px;
    padding-right: 30px;
    .messenger-links {
        display: flex;
        img {
            margin-right: 10px;
        }
    }
}