@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
html {
    scroll-behavior: smooth;
body {
    font-family: 'Open Sans', sans-serif;
    .wrapper {
        .content {
            display: flex;
            justify-content: space-between;
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 80px;
        }
        section {
            max-width: 1050px;
            .title-section {
                border-radius: 3px 3px 0 0;
                padding: 2px 0 2px 30px;
                color: #f2f2f2;
                background-color: #691082;
            }
            .card-section {
                background-color: #d9acff;
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                padding-top: 1.5rem;
                margin-bottom: 2rem;
                border-radius: 0 0 3px 3px
            }
        }
    }
}
}